/node_modules
/public/build
/public/hot
/vendor
.env
.env.*
/storage/*.key
/storage/pail
# JANGAN GUNAKAN /storage/* jika kamu ingin melacak sebagian besar isinya
# Hapus atau ubah menjadi lebih spesifik jika kamu hanya ingin mengabaikan beberapa hal di luar app/public

# Contoh: Jika kamu hanya ingin mengabaikan "logs" di dalam "storage"
# /storage/logs/

# Aturan untuk memastikan SEMUA yang ada di dalam storage/app/public/ tidak diabaikan
!/storage/app/public/
!/storage/app/public/**